<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load customtags %}
<html>
	<head>
		<title>RS1 Menu Adaptive Condition</title>
		<link rel="stylesheet" type="type/css" href="{{ STATIC_URL }}style.css"/>
		<link rel="stylesheet" type="type/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<!-- load the sequence separately from django due to template syntax ({ { } } syntax not recognized in external javascript file) -->
		<script type="text/javascript">
			var sequence = {{ sequence|jsonify }};
			var predictions = {{ predictions|jsonify }};
			var tut = {{ tut }};
		</script>
		<script src="{{ STATIC_URL }}adaptive_script.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="container instructions">
			{% if tut == 1 %}
			<h4>Adaptive Menu Tutorial</h4>
			<p>This is a short tutorial to help you get started with menus that are "adaptive". You will see 3 menus below, and above them there is a "target" menu item that you should select. When you open the menu, it tries to predict what you will select, so 3 predicted items display first, while the rest fade in after a short delay. Please go ahead try this. More "target" items will show up as you progress, after a few more practices a continue button will show up that leads you to the actual experiment.</p>
			{% else %}
			<h4>Adaptive Menu Experiment</h4>
			<p>Please go on and start selecting the shown menu item. A continue button will show up once this part of the experiment is completed.</p>
			{% endif %}	
		</div>
		<!-- box showing task selection -->
		<h4 id="targetbox"> </h4>

		<!-- dropdown menu -->
		<ul id="menu">
	{% for group in menu %}
		{% if forloop.counter0 == 0 %}
			<li><a href="#" onmouseover="openmenu('m1')" onmouseout="setclosetimer()">Menu 1</a>
				<div id="m1" onmouseover="cancelclosetimer()" onmouseout="setclosetimer()">
		{% elif forloop.counter0 == 4 %}
				</div>
			</li>
			<li><a href="#" onmouseover="openmenu('m2')" onmouseout="setclosetimer()">Menu 2</a>
				<div id="m2" onmouseover="cancelclosetimer()" onmouseout="setclosetimer()">
		{% elif forloop.counter0 == 8 %}
				</div>
			</li>
			<li><a href="#" onmouseover="openmenu('m3')" onmouseout="setclosetimer()">Menu 3</a>
				<div id="m3" onmouseover="cancelclosetimer()" onmouseout="setclosetimer()">
		{% endif %}

				<div class="group">
				{% for item in group %}
					<a id="{{ forloop.parentloop.counter0|calculate_id:forloop.counter0 }}" class="fadein" href="#" onclick="selectitem(this.id)">{{ item }}</a>
				{% endfor %}
				</div>
		{% if forloop.counter0 == 11 %}
				</div>
			</li>
		{% endif %}
	{% endfor %}
		</ul>
		<!-- box showing end of this task block -->
		<div id="endbox" style="display:none">
			{% if tut == 1 %}
			<h4 id="message">Finished Tutorial! Click on the continue button to move onto the Experiment.</h4>
			<a href='../adaptive' class="btn">Continue to Experiment</a>
			{% else %}
			<h4 id="message">Congratulations! You are done this section, click on the continue button to move onto the next section.</h4>
			<a href='survey_adaptive' class="btn">Continue to Next Section</a>
			{% endif %}	
		</div>
	</body>
</html>

